@import url("https://fonts.googleapis.com/css2?family=Fruktur&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Be Vietnam Pro", sans-serif;
    height: 100vh;
    background-color: #141414;
    overflow-x: hidden;
}
.navmenu {
    position: absolute;
    display: flex;
    align-items: center;
    height: 68px;
    width: 100vw;
    background-image: linear-gradient(to top, transparent, #0a0a0a);
    padding: 0 4%;
    transition: 0.5s;
    z-index: 1000;
    top: 0;
}
.navmenu.doinav {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background: black;
    transition: 1s;
}
.logo {
    color: red;
    font-weight: bold;
    font-size: 30px;
    margin-right: 25px;
}
a {
    text-decoration: none;
    color: #dcdde1;
}
a:hover {
    color: whitesmoke;
}
ul {
    list-style: none;
}
.menu {
    display: flex;
    align-items: center;
}
.menu li {
    margin-right: 20px;
}
.menuright {
    position: absolute;
    display: flex;
    right: 4%;
}
.bx-search,
.bxs-bell,
.bxs-user {
    color: #dcdde1;
    font-size: 30px;
    cursor: pointer;
}
.menuright div {
    display: flex;
    align-items: center;
    margin-right: 15px;
}
.search {
    position: relative;
    height: 30px;
    width: 30px;
    border: none;
    transition: 0.5s;
}
.search i {
    z-index: 1;
}
.search input {
    position: absolute;
    border: none;
    background-color: transparent;
    height: 100%;
    width: 100%;
    padding: 5px 0 0 30px;
    display: none;
    outline: none;
    color: whitesmoke;
}
.search.active {
    width: 200px;
    height: 30px;
    border: 1px solid #dcdde1;
    transition: 0.5s;
}
.search.active input {
    display: block;
}

.muiten {
    color: whitesmoke;
    padding: 15px;
}
.muiten::after {
    content: "";
    width: 0;
    height: 0;
    border-top: 10px solid #dcdde1;
    border-right: 10px solid transparent;
    position: absolute;
    transform: translate(5px, 0px) rotate(-135deg);
}
.dropdownmenu {
    display: none;
    position: relative;
    cursor: pointer;
    transition: 1s;
}
.dropdown-content {
    display: none;
    position: absolute;
    border-top: 4px whitesmoke solid;
    top: 40px;
    left: -80px;
    width: 250px;
    background-color: rgba(0, 0, 0, 0.8);
}
.dropdown-content::before {
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    border-top: 10px solid whitesmoke;
    border-right: 10px solid transparent;
    transform: rotate(45deg) translate(80px, -90px);
}
.dropdownmenu:hover .dropdown-content {
    display: block;
}
.menu-content li {
    text-align: center;
    padding: 10px;
}
.menu-content li:hover {
    background-color: rgba(196, 196, 196, 0.1);
    transition: 0.5s;
}

/* content */
.main-view {
    position: relative;
    min-height: 100vh;
    left: 0;
}
.video-header {
    height: 56.25vw;
    position: relative;
    z-index: 0;
    width: 100%;
}
.video-header img {
    position: absolute;
    z-index: 1;
    width: 100%;
}
.video-header .trailer video {
    position: absolute;
    width: 100%;
    top: -7%;
}
.trailer {
    position: absolute;
    width: 100%;
    height: 100%;
}
.poster {
    position: absolute;
    display: none;
}
.fill-container {
    position: absolute;
    color: white;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to top, #141414, transparent, transparent, #0a0a0a);
}
.fill-container .info {
    position: absolute;
    top: 0;
    bottom: 35%;
    left: 4%;
    width: 36%;
    z-index: 10;
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}
.fill-container .info .logo-and-text {
    width: 100%;
}
.fill-container .info .logo-and-text .titler-wrapper {
    font-family: "Josefin Sans", sans-serif;
    color: blue;
    font-weight: bold;
    font-size: 40px;
}
.fill-container .info .logo-and-text .content {
}

button {
    border-radius: 5px;
    padding: 5px 15px;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    border: none;
    font-size: 15px;
    cursor: pointer;
}
.fill-container .info .logo-and-text .button-content {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 10px;
}
.button-play {
    margin-right: 10px;
}
.button-info {
    background-color: rgba(109, 109, 110, 0.7);
    color: white;
}
i {
    font-size: 30px;
}

.play-maturity {
    position: absolute;
    display: flex;
    align-items: center;
    right: 0;
    bottom: 35%;
}
.play-maturity button {
    border-radius: 50%;
    margin-right: 10px;
    width: 50px;
    height: 50px;
    padding: 0;
    text-align: center;
    cursor: pointer;
}
.play-maturity button i {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.button-mute {
    background-color: rgba(109, 109, 110, 0.4);
}

.maturity-number {
    background-color: rgba(51, 51, 51, 0.6);
    padding: 10px 25px 10px 10px;
    border-left: 3px solid white;
    opacity: 0.5;
}

.rows-movie {
    margin-top: -200px;
}
.row-list {
    position: relative;
    margin-bottom: 50px;
}
.row-list h4 {
    padding-left: 4%;
    margin-bottom: 10px;
}
.row-container {
}
.row-container button {
    padding: 0;
    position: absolute;
    z-index: 10;
    height: 100%;
    width: 4%;
    font-size: 50px;
    background-color: transparent;
    color: #fff;
}
.row-container button:hover {
    background-color: rgba(195, 195, 195, 0.5);
    cursor: pointer;
}
.row-container .slick-list {
    padding: 0 4%;
}
.slick-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.slick-next {
    right: 0px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.movie {
    border-radius: 4%;
    padding: 0 0.2vw;
}
.movie img {
    width: 100%;
    border-radius: 2px;
    object-fit: cover;
}
.top {
    position: absolute;
    transform: translateX(10px);
    color: black;
    font-size: 1400%;
    line-height: 84%;
    float: right;
    font-family: "Heebo", sans-serif;
    text-shadow: #dcdde1 2px 0px 2px, #dcdde1 0px 0px 5px, #dcdde1 0px 2px 5px, #dcdde1 0px 2px 5px;
}
.top-pic {
    position: relative;
    width: 120px;
    float: right;
    z-index: 20;
}

.footer {
    padding: 4%;
}
.social-links {
    color: #fff;
    word-spacing: 20px;
    margin-bottom: 10px;
}
.member-footer-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    font-size: 13px;
}
.member-footer-links li {
    margin-bottom: 20px;
    flex: 0 0 25%;
}
.member-footer-links li a {
    color: grey;
}
.member-footer-service button {
    background-color: transparent;
    border: grey 1px solid;
    border-radius: 0;
    color: grey;
    padding: 0.5rem;
    text-align: center;
    font-size: 13px;
    margin-bottom: 20px;
}
.member-footer-copyright {
    color: grey;
}
@media only screen and (max-width: 1000px) {
    .menu {
        display: none;
    }
    .dropdownmenu {
        display: block;
    }
    .fill-container {
    }
    .logo-and-text {
        font-size: 0.5em;
    }
    .fill-container .info {
        bottom: 35%;
    }
    .fill-container .info .logo-and-text .titler-wrapper {
        font-size: x-large;
    }
    button {
        height: 40px;
        font-size: 1.5vw;
    }

    .button-play {
        width: 25vw;
    }
    .button-info {
        width: 350px;
    }
    .rows-movie {
        margin-top: -80px;
    }
    .top {
        font-size: 1150%;
    }
    .top-pic {
        width: 100px;
    }
    .member-footer-links li {
        flex: 0 0 50%;
    }
}
@media only screen and (max-width: 500px) {
    .navmenu {
        font-size: 10px;
        height: 40px;
    }
    .logo {
        font-size: large;
        margin-right: 0px;
    }
    .muiten::after {
        border-top: 5px solid #dcdde1;
        border-right: 5px solid transparent;
    }
    i {
        font-size: large !important ;
    }
    .search {
        display: none !important;
    }
    .fill-container .info {
        width: 45%;
        bottom: 35%;
    }
    .logo-and-text .titler-wrapper {
        font-size: 15px !important;
    }
    .logo-and-text .content {
        display: none;
    }
    .button-content button {
        font-size: 10px;
        height: 25px;
        padding: 5px 7px;
    }
    .play-maturity button {
        width: 30px;
        height: 30px;
    }
    .play-maturity button i {
    }
    .maturity-number {
        height: 20px;
        width: 50px;
        padding: 5px 0 0 5px;
        font-size: 12px;
    }
    .rows-movie {
        margin-top: -50px;
    }
    .row-container button {
        position: absolute;
        font-size: x-large;
        padding: 0;
        width: 3.5%;
    }

    .row-list h4 {
        font-size: 12px;
    }
    .top {
        font-size: 1140%;
    }
    .top-pic {
        width: 100px;
    }
}
